body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  color: #47906a;
  background-image: linear-gradient(0deg, #c2ffdf, #f8baee);
  height: 100%;
  margin: 2%;
  padding: 20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: left;
}

h1 {
  font-weight: bolder;
  text-align: center;
}

h2 {
  font-size: 14pt;
  color: black;
  text-align: left;
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.btn {
  display: flex;
  font-size: 10pt;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.btn:hover {
  background-image: radial-gradient(circle, white, #ffaff2);
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#start.btn {
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

.navbar {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
