body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  color: #47906a;
  background-image: linear-gradient(0deg, #c2ffdf, #f8baee);
  height: 100%;
  margin: 2%;
  padding: 20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: left;
}

h1 {
  font-weight: bolder;
  text-align: left;
}

h2 {
  font-size: 14pt;
  color: black;
  text-align: left;
}

.navbar {
  background-image: linear-gradient(90deg, #4fcdff, #e4bcff);
  border-style: dashed;
  border-width: 1px;
  border-color: #666666;
  border-bottom: 0px;
}

.highscore {
  text-align: justify;
  width: 50%;
}
.container {
  background-color: rgba(255, 255, 255, 0.3);
  border-style: dashed;
  border-width: 1px;
  border-color: #666666;
}

.btn {
  background-image: radial-gradient(circle, #56c0fd, #3384fd);
  display: flex;
  font-size: 10pt;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1%;
  border-style: solid;
  border-width: 1px;
  border-color: #666666;
}

.btn:hover {
  background-image: radial-gradient(circle, #23ffa3, #3384fd);
  color: white;
  border-style: dashed;
  border-width: 1px;
  border-color: #666666;
}

#start.btn {
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

#score {
  text-align: center;
  font-size: 18pt;
}

#count {
  text-align: right;
  font-size: 18pt;
}
